In [2]:
import json
import pandas as pd
import numpy as np

import requests

from tqdm import tqdm_notebook

## 인기대출도서 데이터 수집 및 전처리

In [2]:
# 인기대출도서 데이터 가져오기
a1 = open('./data/final/BestSeller_1.json', encoding = 'utf-8').read()
a2 = open('./data/final/BestSeller_2.json', encoding = 'utf-8').read()
a3 = open('./data/final/BestSeller_3.json', encoding = 'utf-8').read()
a4 = open('./data/final/BestSeller_4.json', encoding = 'utf-8').read()
a5 = open('./data/final/BestSeller_5.json', encoding = 'utf-8').read()

bestSeller01 = json.loads(a1)
bestSeller02 = json.loads(a2)
bestSeller03 = json.loads(a3)
bestSeller04 = json.loads(a4)
bestSeller05 = json.loads(a5)

In [3]:
# 컬럼 이름 리스트 생성
columns = bestSeller01['response']['docs'][0]['doc'].keys()

# 비어있는 데이터프레임 생성
best_seller_df = pd.DataFrame(columns = columns)

In [4]:
# 반복을 수행하며 데이터프레임에 데이터 추가
for i in range(5000) :
    if 0 <= i <= 999 :
        best_seller_df.loc[i] = list(bestSeller01['response']['docs'][i]['doc'].values())
    elif 1000 <= i <= 1999 :
        best_seller_df.loc[i] = list(bestSeller02['response']['docs'][i - 1000]['doc'].values())
    elif 2000 <= i <= 2999 :
        best_seller_df.loc[i] = list(bestSeller03['response']['docs'][i - 2000]['doc'].values())
    elif 3000 <= i <= 3999 :
        best_seller_df.loc[i] = list(bestSeller04['response']['docs'][i - 3000]['doc'].values())
    else :
        best_seller_df.loc[i] = list(bestSeller05['response']['docs'][i - 4000]['doc'].values())

In [5]:
best_seller_df.head()

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,loan_count,bookImageURL
0,1,1,여행의 이유 :김영하 산문,지은이: 김영하,문학동네,2019,9788954655972,03810,,816.7,"13,336",https://image.aladin.co.kr/product/18827/60/co...
1,2,2,아몬드 (양장 특별 한정판),손원평 (지은이),창비,2017,9788936434267,03810,,813.7,"13,117",http://image.aladin.co.kr/product/16839/4/cove...
2,3,3,나미야 잡화점의 기적 :히가시노 게이고 장편소설,지은이: 히가시노 게이고 ;옮긴이: 양윤옥,현대문학,2012,9788972756194,03830,,833.6,"13,004",http://image.aladin.co.kr/product/15848/6/cove...
3,4,4,선량한 차별주의자,김지혜 지음,창비,2019,9788936477196,03300,,334,"11,629",https://image.aladin.co.kr/product/19874/76/co...
4,5,5,(추리 천재) 엉덩이 탐정,트롤 글·그림 ;김정화 옮김,미래엔,,9791162339466,74830,7,833.6,"11,385",https://image.aladin.co.kr/product/17457/14/co...

In [6]:
best_seller_df.tail()

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,loan_count,bookImageURL
4995,4996,4987,1인 가구 돈 관리 :잘사는 혼삶의 필수 아이템,공아연 지음,위즈덤하우스,2018,9791162203897,03320,,591.1,"1,007",http://image.aladin.co.kr/product/15076/53/cov...
4996,4997,4987,이태원 클라쓰,글·그림: 광진,Young Com(영컴),,9791162790021,07810,4,810,"1,007",https://image.aladin.co.kr/product/13822/51/co...
4997,4998,4987,자기혁명 독서법 :뭐라도 해야 했던 사람에서 뭐든 하는 사람으로,이재범 지음,프레너미,2019,9791187383475,03320,,029.4,"1,007",https://image.aladin.co.kr/product/19831/89/co...
4998,4999,4987,일기 고쳐 주는 아이(그래 책이야 25),박선화,잇츠북어린이,2019,9791187903307,,,,"1,007",https://bookthumb-phinf.pstatic.net/cover/157/...
4999,5000,5000,Night of the Ninjas,by Mary Pope Osborne;illustrated by Sal Murdocca,Random House,1995,9780679963714,,5,,"1,006",https://bookthumb-phinf.pstatic.net/cover/005/...

In [7]:
# 데이터프레임을 csv로 저장
best_seller_df.to_csv('best_seller_df.csv', mode = 'w', index = False)

In [8]:
# isbn 중복 여부 확인
best_seller_df[best_seller_df.duplicated(['isbn13'])].count()

no                  296
ranking             296
bookname            296
authors             296
publisher           296
publication_year    296
isbn13              296
addition_symbol     296
vol                 296
class_no            296
loan_count          296
bookImageURL        296
dtype: int64

In [9]:
# isbn 고유식별번호 중복 제거
best_seller_df.drop_duplicates(['isbn13'], keep = 'first', inplace = True)

In [10]:
best_seller_df.shape

(4704, 12)

In [11]:
# 인덱스 초기화
best_seller_df.reset_index(drop = True, inplace = True)

In [12]:
best_seller_df.tail()

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,loan_count,bookImageURL
4699,4996,4987,1인 가구 돈 관리 :잘사는 혼삶의 필수 아이템,공아연 지음,위즈덤하우스,2018,9791162203897,03320,,591.1,"1,007",http://image.aladin.co.kr/product/15076/53/cov...
4700,4997,4987,이태원 클라쓰,글·그림: 광진,Young Com(영컴),,9791162790021,07810,4,810,"1,007",https://image.aladin.co.kr/product/13822/51/co...
4701,4998,4987,자기혁명 독서법 :뭐라도 해야 했던 사람에서 뭐든 하는 사람으로,이재범 지음,프레너미,2019,9791187383475,03320,,029.4,"1,007",https://image.aladin.co.kr/product/19831/89/co...
4702,4999,4987,일기 고쳐 주는 아이(그래 책이야 25),박선화,잇츠북어린이,2019,9791187903307,,,,"1,007",https://bookthumb-phinf.pstatic.net/cover/157/...
4703,5000,5000,Night of the Ninjas,by Mary Pope Osborne;illustrated by Sal Murdocca,Random House,1995,9780679963714,,5,,"1,006",https://bookthumb-phinf.pstatic.net/cover/005/...

In [13]:
# 책 이름 중복 여부 확인
best_seller_df[best_seller_df.duplicated(['bookname'])].count()

no                  957
ranking             957
bookname            957
authors             957
publisher           957
publication_year    957
isbn13              957
addition_symbol     957
vol                 957
class_no            957
loan_count          957
bookImageURL        957
dtype: int64

In [14]:
# bookname 책 이름 중복 제거
best_seller_df.drop_duplicates(['bookname'], keep = 'first', inplace = True)

In [15]:
best_seller_df.shape

(3747, 12)

In [16]:
# 인덱스 초기화
best_seller_df.reset_index(drop = True, inplace = True)

In [17]:
best_seller_df.tail()

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,loan_count,bookImageURL
3742,4994,4987,살인 카드 게임 :제임스 패터슨 장편소설,저자: 제임스 패터슨 ;옮긴이: 조은아,Book Plaza(북플라자),2018,9788998274153,03840,,843.6,"1,007",http://image.aladin.co.kr/product/14798/82/cov...
3743,4996,4987,1인 가구 돈 관리 :잘사는 혼삶의 필수 아이템,공아연 지음,위즈덤하우스,2018,9791162203897,03320,,591.1,"1,007",http://image.aladin.co.kr/product/15076/53/cov...
3744,4998,4987,자기혁명 독서법 :뭐라도 해야 했던 사람에서 뭐든 하는 사람으로,이재범 지음,프레너미,2019,9791187383475,03320,,029.4,"1,007",https://image.aladin.co.kr/product/19831/89/co...
3745,4999,4987,일기 고쳐 주는 아이(그래 책이야 25),박선화,잇츠북어린이,2019,9791187903307,,,,"1,007",https://bookthumb-phinf.pstatic.net/cover/157/...
3746,5000,5000,Night of the Ninjas,by Mary Pope Osborne;illustrated by Sal Murdocca,Random House,1995,9780679963714,,5,,"1,006",https://bookthumb-phinf.pstatic.net/cover/005/...

In [18]:
best_seller_df['isbn13'].count()

3747

In [19]:
len(best_seller_df['isbn13'].unique())

3747

In [20]:
# 데이터프레임을 csv로 저장
best_seller_df.to_csv('best_seller_df.csv', mode = 'w', index = False)

In [7]:
# 데이터 불러오기
best_seller_df = pd.read_csv('best_seller_df.csv')

In [8]:
best_seller_df.head()

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,loan_count,bookImageURL
0,1,1,여행의 이유 :김영하 산문,지은이: 김영하,문학동네,2019.0,9788954655972,3810.0,NaN,816.7,"13,336",https://image.aladin.co.kr/product/18827/60/co...
1,2,2,아몬드 (양장 특별 한정판),손원평 (지은이),창비,2017.0,9788936434267,3810.0,NaN,813.7,"13,117",http://image.aladin.co.kr/product/16839/4/cove...
2,3,3,나미야 잡화점의 기적 :히가시노 게이고 장편소설,지은이: 히가시노 게이고 ;옮긴이: 양윤옥,현대문학,2012.0,9788972756194,3830.0,NaN,833.6,"13,004",http://image.aladin.co.kr/product/15848/6/cove...
3,4,4,선량한 차별주의자,김지혜 지음,창비,2019.0,9788936477196,3300.0,NaN,334.0,"11,629",https://image.aladin.co.kr/product/19874/76/co...
4,5,5,(추리 천재) 엉덩이 탐정,트롤 글·그림 ;김정화 옮김,미래엔,NaN,9791162339466,74830.0,7.0,833.6,"11,385",https://image.aladin.co.kr/product/17457/14/co...

In [9]:
best_seller_df.tail()

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,loan_count,bookImageURL
3742,4994,4987,살인 카드 게임 :제임스 패터슨 장편소설,저자: 제임스 패터슨 ;옮긴이: 조은아,Book Plaza(북플라자),2018.0,9788998274153,3840.0,NaN,843.6,"1,007",http://image.aladin.co.kr/product/14798/82/cov...
3743,4996,4987,1인 가구 돈 관리 :잘사는 혼삶의 필수 아이템,공아연 지음,위즈덤하우스,2018.0,9791162203897,3320.0,NaN,591.1,"1,007",http://image.aladin.co.kr/product/15076/53/cov...
3744,4998,4987,자기혁명 독서법 :뭐라도 해야 했던 사람에서 뭐든 하는 사람으로,이재범 지음,프레너미,2019.0,9791187383475,3320.0,NaN,29.4,"1,007",https://image.aladin.co.kr/product/19831/89/co...
3745,4999,4987,일기 고쳐 주는 아이(그래 책이야 25),박선화,잇츠북어린이,2019.0,9791187903307,NaN,NaN,NaN,"1,007",https://bookthumb-phinf.pstatic.net/cover/157/...
3746,5000,5000,Night of the Ninjas,by Mary Pope Osborne;illustrated by Sal Murdocca,Random House,1995.0,9780679963714,NaN,5.0,NaN,"1,006",https://bookthumb-phinf.pstatic.net/cover/005/...

## 인기대출도서 isbn을 이용한 도서별 키워드 데이터 수집

In [10]:
# 인기도서 isbn 리스트 생성
best_seller_isbn_list = list(best_seller_df['isbn13'].astype(str))

In [11]:
len(best_seller_isbn_list)

3747

In [12]:
# api 주소 호출을 위한 url 변수 생성
api_url = [
    'http://data4library.kr/api/keywordList?authKey=2de07acdbc8edb45815b0788321c701a3d0881ebcdc8952f7c41c3f7f958a10c&isbn13=',
    'http://data4library.kr/api/keywordList?authKey=c96c4e4696015af34412e7a7e6fdde51471b8afd01dc99500d1da873f4d6606a&isbn13=',
    'http://data4library.kr/api/keywordList?authKey=19eb5917bd75c9176a7491885f27acc65bc61e6e75f55c35f29946b94ec16d74&isbn13=',
    'http://data4library.kr/api/keywordList?authKey=76c1e62b08217a3170bfb33f6939c24ec881a7681bc647665ab0e4059723d0b4&isbn13=',
    'http://data4library.kr/api/keywordList?authKey=&isbn13='
]
rest_url = '&format=json'

In [24]:
# isbn과 키워드리스트를 가지는 데이터프레임 생성
isbn_keyword_df = pd.DataFrame(columns = ['isbn13', 'keyword'])
isbn_keyword_df

Empty DataFrame
Columns: [isbn13, keyword]
Index: []

In [ ]:
# url 요청으로 키워드 json 파일 다운로드
# for i in tqdm_notebook(range(len(best_seller_isbn_list))) :
#     keyword_url = api_url + best_seller_isbn_list[i] + rest_url
    
#     response = requests.get(keyword_url)
#     keyword_json = response.json()
    
#     keyword_list = []
    
#     if keyword_json['response']['resultNum'] != 0 :
#         for j in range(len(keyword_json['response']['items'])) :
#             keyword_list.append(keyword_json['response']['items'][j]['item'])
    
#         isbn_keyword_df.loc[i] = [best_seller_isbn_list[i], keyword_list]
#     else :
#         isbn_keyword_df.loc[i] = [best_seller_isbn_list[i], None]

In [25]:
# url 요청으로 키워드 json 파일 다운로드
for i in tqdm_notebook(range(500)) :
    keyword_url = api_url[0] + best_seller_isbn_list[i] + rest_url
    
    response = requests.get(keyword_url)
    keyword_json = response.json()
    
    keyword_list = []
    
    if keyword_json['response']['resultNum'] != 0 :
        for j in range(len(keyword_json['response']['items'])) :
            keyword_list.append(keyword_json['response']['items'][j]['item'])
    
        isbn_keyword_df.loc[i] = [best_seller_isbn_list[i], keyword_list]
    else :
        isbn_keyword_df.loc[i] = [best_seller_isbn_list[i], None]

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

HBox(children=(FloatProgress(value=0.0, max=500.0), HTML(value='')))

In [125]:
# 데이터프레임을 csv로 저장
isbn_keyword_df.to_csv('isbn_keyword_df.csv', mode = 'w', index = False, encoding = 'utf-8-sig')

In [25]:
# 데이터 불러오기
isbn_keyword_df = pd.read_csv('isbn_keyword_df.csv')

In [26]:
isbn_keyword_df['isbn13'] = isbn_keyword_df['isbn13'].astype(str)
isbn_keyword_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3747 entries, 0 to 3746
Data columns (total 2 columns):
isbn13     3747 non-null object
keyword    3529 non-null object
dtypes: object(2)
memory usage: 58.6+ KB

In [27]:
isbn_keyword_df.tail()

             isbn13                                            keyword
3742  9788998274153  [{'word': '패터슨', 'weight': '6'}, {'word': '스릴러...
3743  9791162203897  [{'word': '관리', 'weight': '34'}, {'word': '가구'...
3744  9791187383475                                                NaN
3745  9791187903307  [{'word': '자신', 'weight': '8'}, {'word': '어린이'...
3746  9780679963714  [{'word': '어린이', 'weight': '4'}, {'word': '뉴욕타...

In [16]:
# url 요청으로 키워드 json 파일 다운로드
for i in tqdm_notebook(range(3600, len(best_seller_isbn_list))) :
    keyword_url = api_url[0] + best_seller_isbn_list[i] + rest_url
    
    response = requests.get(keyword_url)
    keyword_json = response.json()
    
    keyword_list = []
    
    # 중간에 response에 resultNum이 존재하지 않을 경우 따로 조건문을 생성해주어야 한다. 
    if (keyword_json['response']['resultNum'] != 0) :
        for j in range(len(keyword_json['response']['items'])) :
            keyword_list.append(keyword_json['response']['items'][j]['item'])

        isbn_keyword_df.loc[i] = [best_seller_isbn_list[i], keyword_list]
    else :
        isbn_keyword_df.loc[i] = [best_seller_isbn_list[i], np.nan]

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

HBox(children=(FloatProgress(value=0.0, max=147.0), HTML(value='')))

In [17]:
isbn_keyword_df.tail()

             isbn13                                            keyword
3742  9788998274153  [{'word': '패터슨', 'weight': '6'}, {'word': '스릴러...
3743  9791162203897  [{'word': '관리', 'weight': '34'}, {'word': '가구'...
3744  9791187383475                                                NaN
3745  9791187903307  [{'word': '자신', 'weight': '8'}, {'word': '어린이'...
3746  9780679963714  [{'word': '어린이', 'weight': '4'}, {'word': '뉴욕타...

In [28]:
isbn_keyword_df.shape

(3747, 2)

In [30]:
# 데이터프레임을 csv로 저장
isbn_keyword_df.to_csv('isbn_keyword_df.csv', mode = 'w', index = False, encoding = 'utf-8-sig')

## isbn_keyword_df 데이터로 isbn 책의 소개 데이터 내려받기

In [2]:
# 데이터 불러오기
isbn_keyword_df = pd.read_csv('isbn_keyword_df.csv')

In [20]:
isbn_keyword_df.head()

          isbn13                                            keyword
0  9788954655972  [{'word': '여행', 'weight': '18'}, {'word': '김영하...
1  9788936434267  [{'word': '감정', 'weight': '16'}, {'word': '아몬드...
2  9788972756194  [{'word': '편지', 'weight': '13'}, {'word': '히가시...
3  9788936477196  [{'word': '차별', 'weight': '18'}, {'word': '선량'...
4  9791162339466  [{'word': '엉덩이', 'weight': '27'}, {'word': '탐정...

In [5]:
# 인기도서 isbn 리스트 생성
best_seller_isbn_list = list(isbn_keyword_df['isbn13'].astype(str))

In [7]:
len(best_seller_isbn_list)

3747

In [8]:
# 도서 상세조회 api 이용
# api 주소 호출을 위한 url 변수 생성
api_url = [
    'http://data4library.kr/api/srchDtlList?authKey=2de07acdbc8edb45815b0788321c701a3d0881ebcdc8952f7c41c3f7f958a10c&isbn13=',
    'http://data4library.kr/api/srchDtlList?authKey=c96c4e4696015af34412e7a7e6fdde51471b8afd01dc99500d1da873f4d6606a&isbn13=',
    'http://data4library.kr/api/srchDtlList?authKey=19eb5917bd75c9176a7491885f27acc65bc61e6e75f55c35f29946b94ec16d74&isbn13=',
    'http://data4library.kr/api/srchDtlList?authKey=76c1e62b08217a3170bfb33f6939c24ec881a7681bc647665ab0e4059723d0b4&isbn13=',
    'http://data4library.kr/api/srchDtlList?authKey=1aef030f94fbc0535a4863fdd659db4defd2b53ed15d2e38dd2b274c8ae4e66a&isbn13='
]
rest_url = '&format=json'

In [21]:
# isbn과 키워드리스트를 가지는 데이터프레임 생성
isbn_desc_df = pd.DataFrame(columns = ['isbn13', 'describe'])
isbn_desc_df

Empty DataFrame
Columns: [isbn13, describe]
Index: []

In [64]:
# url 요청으로 키워드 json 파일 다운로드
for i in tqdm_notebook(range(1900, 2400)) :
    desc_url = api_url[4] + best_seller_isbn_list[i] + rest_url
    
    response = requests.get(desc_url)
    desc_json = response.json()
    
    describe = desc_json['response']['detail'][0]['book']['description']
    
    isbn_desc_df.loc[i] = [best_seller_isbn_list[i], describe]

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

HBox(children=(FloatProgress(value=0.0, max=500.0), HTML(value='')))

In [65]:
isbn_desc_df.tail()

             isbn13                                           describe
2395  9791162541135  2015년 CNN 인터뷰를 통해 “내 돈 전부를 북한에 투자할 수 있다면 그렇게 하...
2396  9788925550091  이도우의 장편소설. 서른한 살 공진솔. 사소한 일 하나하나 지켜가며, 나름 자신의 ...
2397  9788936445270  제4회 '좋은 어린이 책' 원고 공모 기획 부문 대상작! 컴퓨터 게임을 좋아하는 어...
2398  9788990982520  &lt;용의자 x의 헌신&gt;, &lt;방황하는 칼날&gt;의 작가 히가시노 게이...
2399  9791187504092  마술 실력을 가장 빠르고 확실하게 키울 수 있는 ‘50가지 마술 기법’을 소개한 책...

In [66]:
isbn_desc_df.shape

(2400, 2)

In [67]:
isbn_desc_df.to_csv('isbn_desc_df.csv', mode = 'w', index = False, encoding = 'utf-8-sig')

In [32]:
# 정수의 도움!
isbn_desc_df = pd.read_csv('isbn_desc_df.csv')
isbn_desc_df02 = pd.read_csv('isbn_desc_df02.csv')

In [37]:
# 데이터프레임 통합
isbn_desc_df = pd.concat([isbn_desc_df, isbn_desc_df02], ignore_index = True)

In [38]:
isbn_desc_df.tail()

             isbn13                                           describe
3742  9788998274153  추리소설계의 거장 제임스 패터슨이 쓴 인기 미드 [인스팅트] 원작소설. 피비린내가 ...
3743  9791162203897  《1인 가구 살림법》의 저자인 ‘세송’이 10여 년을 1인 가구로 살며 쌓은 돈 관...
3744  9791187383475  세상을 독서로 배운 저자의 책 이야기다. ‘핑크팬더’라는 닉네임으로 잘 알려져 있는...
3745  9791187903307  평소 부러워하던 친구와 자신의 삶을 바꿀 수 있다면,어떤 선택을 할 건가요?크든 작...
3746  9780679963714  THE MAGIC TREE HOUSE TAKES JACK AND ANNIE BACK...

In [39]:
# 키워드 데이터와 통합하기 위한 데이터 불러오기
isbn_keyword_df = pd.read_csv('isbn_keyword_df.csv')

In [40]:
isbn_keyword_df.tail()

             isbn13                                            keyword
3742  9788998274153  [{'word': '패터슨', 'weight': '6'}, {'word': '스릴러...
3743  9791162203897  [{'word': '관리', 'weight': '34'}, {'word': '가구'...
3744  9791187383475                                                NaN
3745  9791187903307  [{'word': '자신', 'weight': '8'}, {'word': '어린이'...
3746  9780679963714  [{'word': '어린이', 'weight': '4'}, {'word': '뉴욕타...

In [41]:
# 데이터프레임 통합
isbn_keyword_desc_df = pd.merge(isbn_keyword_df, isbn_desc_df, how = 'inner', on = 'isbn13')

In [43]:
# csv로 데이터프레임 저장
isbn_keyword_desc_df.to_csv('isbn_keyword_desc_df.csv', mode = 'w', index = False, encoding = 'utf-8-sig')