In [1]:
import json
import pandas as pd
import numpy as np

import requests

from tqdm import tqdm_notebook

In [2]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet
# import SVD
# import accuracy

import warnings; warnings.simplefilter('ignore')

# 어린이 책을 책소개를 통해 비슷한 책 추천해주기

In [4]:
# 데이터 불러오기
children = pd.read_csv('./data/final/content_re/children_df.csv',encoding='utf-8')

In [5]:
children.head(3)

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,loan_count,bookImageURL
0,1,1,(설민석의) 한국사 대모험,"글: 설민석,그림: 정현희",휴먼큐브,NaN,9791188874262,74910.0,9.0,911.0,"3,213",https://image.aladin.co.kr/product/17950/14/co...
1,2,2,(설민석의) 한국사 대모험,"글: 설민석,그림: 정현희",휴먼큐브,NaN,9791188874217,74910.0,8.0,911.0,"3,164",https://image.aladin.co.kr/product/16868/13/co...
2,3,3,"설민석의 한국사 대모험 11 - 고구려 편 : 부마 온달, 태학에 들어가다!","설민석, 스토리박스 (지은이), 정현희 (그림), 태건 역사 연구소 (감수)",아이휴먼,2019.0,9791188874385,74910.0,11.0,911.0,"3,099",https://image.aladin.co.kr/product/20004/68/co...

## merge로 책소개 가져오기

In [6]:
# 책 소개글이 포함되어 있는 전체 데이터 가져오기 
book = pd.read_csv('./data/final/library_book_df.csv',encoding='utf-8')

In [7]:
book.head(1)

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,loan_count,bookImageURL,keyword,describe
0,1,1,여행의 이유 :김영하 산문,지은이: 김영하,문학동네,2019.0,9788954655972,3810.0,NaN,816.7,"13,336",https://image.aladin.co.kr/product/18827/60/co...,"['여행', '김영하', '여행의', '사유', '산문', '인간', '매혹적', ...",“이 책을 쓰는 데 내 모든 여행의 경험이 필요했다”여행-일상-여행의 고리를 잇는 ...

In [16]:
child_result=pd.merge(children,book,on='isbn13',how='left')

In [10]:
child_result.head()

,no_x,ranking_x,bookname_x,authors_x,publisher_x,publication_year_x,isbn13,addition_symbol_x,vol_x,class_no_x,...,authors_y,publisher_y,publication_year_y,addition_symbol_y,vol_y,class_no_y,loan_count_y,bookImageURL_y,keyword,describe
0,1,1,(설민석의) 한국사 대모험,"글: 설민석,그림: 정현희",휴먼큐브,NaN,9791188874262,74910.0,9.0,911.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2,(설민석의) 한국사 대모험,"글: 설민석,그림: 정현희",휴먼큐브,NaN,9791188874217,74910.0,8.0,911.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,3,"설민석의 한국사 대모험 11 - 고구려 편 : 부마 온달, 태학에 들어가다!","설민석, 스토리박스 (지은이), 정현희 (그림), 태건 역사 연구소 (감수)",아이휴먼,2019.0,9791188874385,74910.0,11.0,911.0,...,"설민석, 스토리박스 (지은이), 정현희 (그림), 태건 역사 연구소 (감수)",아이휴먼,2019.0,74910.0,11.0,911.0,"8,723",https://image.aladin.co.kr/product/20004/68/co...,"['온달', '고구려', '설민석의한국사대모험', '한국사', '시작', '역사',...","재미있는 스토리와 다양한 한국사 이야기를 통해 어린이들에게 지식과 감동, 재미를 심..."
3,4,4,(설민석의) 한국사 대모험,"글: 설민석,그림: 정현희",휴먼큐브,NaN,9791188874293,74910.0,10.0,911.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,5,(추리 천재) 엉덩이 탐정,트롤 글·그림 ;김정화 옮김,미래엔,NaN,9791164131914,74830.0,8.0,833.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# 데이터프레임으로 바꾸기
child_result.to_csv('./data/final/content_re/child_result.csv',encoding='utf-8-sig',index=False)

In [20]:
# 직접 엑셀에서 수정 후 데이터 불러오기
child_result=pd.read_excel('./data/final/content_re/child_result.xlsx')

In [21]:
child_result.head(3)

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,loan_count_x,bookImageURL_x,keyword,describe
0,1,1,(설민석의) 한국사 대모험,"글: 설민석,그림: 정현희",휴먼큐브,NaN,9791188874262,74910.0,9.0,911.0,3213,https://image.aladin.co.kr/product/17950/14/co...,NaN,NaN
1,2,2,(설민석의) 한국사 대모험,"글: 설민석,그림: 정현희",휴먼큐브,NaN,9791188874217,74910.0,8.0,911.0,3164,https://image.aladin.co.kr/product/16868/13/co...,NaN,NaN
2,3,3,"설민석의 한국사 대모험 11 - 고구려 편 : 부마 온달, 태학에 들어가다!","설민석, 스토리박스 (지은이), 정현희 (그림), 태건 역사 연구소 (감수)",아이휴먼,2019.0,9791188874385,74910.0,11.0,911.0,3099,https://image.aladin.co.kr/product/20004/68/co...,"['온달', '고구려', '설민석의한국사대모험', '한국사', '시작', '역사',...","재미있는 스토리와 다양한 한국사 이야기를 통해 어린이들에게 지식과 감동, 재미를 심..."

In [22]:
len(child_result)

978

In [25]:
# 어린이 책 중 책소개가 없는 책의 수
child_result['describe'].isnull().sum()

470

In [27]:
# 책소개가 없는 데이터만 따로 뽑기
child_na_df=child_result[child_result['describe'].isnull()]

In [28]:
# 책소개가 있는 데이터만 따로 뽑기
child_revised_df=child_result[pd.notnull(child_result['describe'])]

In [29]:
print(len(child_na_df))
print(len(child_revised_df))

470
508

## API키를 통해 책 소개 가져오기

In [35]:
# 도서 상세조회 api 이용
# api 주소 호출을 위한 url 변수 생성
api_url = [
    'http://data4library.kr/api/srchDtlList?authKey=2de07acdbc8edb45815b0788321c701a3d0881ebcdc8952f7c41c3f7f958a10c&isbn13=',
    'http://data4library.kr/api/srchDtlList?authKey=c96c4e4696015af34412e7a7e6fdde51471b8afd01dc99500d1da873f4d6606a&isbn13=',
    'http://data4library.kr/api/srchDtlList?authKey=19eb5917bd75c9176a7491885f27acc65bc61e6e75f55c35f29946b94ec16d74&isbn13=',
    'http://data4library.kr/api/srchDtlList?authKey=76c1e62b08217a3170bfb33f6939c24ec881a7681bc647665ab0e4059723d0b4&isbn13=',
    'http://data4library.kr/api/srchDtlList?authKey=1aef030f94fbc0535a4863fdd659db4defd2b53ed15d2e38dd2b274c8ae4e66a&isbn13='
]
rest_url = '&format=json'

In [30]:
# 청소년도서 isbn 리스트 생성
child_na_isbn = list(child_na_df['isbn13'].astype(str))

In [33]:
# isbn과 키워드리스트를 가지는 데이터프레임 생성
isbn_desc_df_child = pd.DataFrame(columns = ['isbn13', 'describe'])
isbn_desc_df_child

Empty DataFrame
Columns: [isbn13, describe]
Index: []

In [36]:
# url 요청으로 키워드 json 파일 다운로드
for i in tqdm_notebook(range(len(child_na_isbn))) :
    desc_url = api_url[1] + child_na_isbn[i] + rest_url
    
    response = requests.get(desc_url)
    desc_json = response.json()
    
    if 'detail' in desc_json['response'].keys():
        describe = desc_json['response']['detail'][0]['book']['description']
    else:
        describe = ""
        
    isbn_desc_df_child.loc[i] = [child_na_isbn[i], describe]

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=470.0), HTML(value='')))

In [40]:
# 책소개가 없는 데이터에 책소개 채워넣기
child_na_df['describe']=isbn_desc_df_child['describe']

In [41]:
child_df=pd.concat([child_na_df,child_revised_df],ignore_index=True)

In [42]:
child_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 978 entries, 0 to 977
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   no                978 non-null    int64
 1   ranking           978 non-null    int64
 2   bookname          978 non-null    object
 3   authors           978 non-null    object
 4   publisher         978 non-null    object
 5   publication_year  480 non-null    float64
 6   isbn13            978 non-null    int64
 7   addition_symbol   932 non-null    float64
 8   vol               797 non-null    float64
 9   class_no          931 non-null    float64
 10  loan_count_x      978 non-null    int64
 11  bookImageURL_x    977 non-null    object
 12  keyword           512 non-null    object
 13  describe          801 non-null    object
dtypes: float64(4), int64(4), object(6)
memory usage: 107.1+ KB

In [44]:
### 책 소개가 없는 데이터 채우기
child_na_describe=child_df[child_df['describe'].isnull()]

In [79]:
### 책 소개가 있는 데이터 채우기
child_describe=child_df[pd.notnull(child_df['describe'])]

In [80]:
print(len(child_df))
print(len(child_describe))

978
801

In [45]:
len(child_na_describe)

177

In [46]:
child_na_describe.reset_index(drop=True,inplace=True)

# 부족한 책 크롤링해서 찾기

In [48]:
# 크롤링
from urllib.request import urlopen
from bs4 import BeautifulSoup
from urllib.error import HTTPError
from urllib.error import URLError

In [49]:
# 오픈을 할때 예외처리를 통해 만약 오류가 생기면 원인을 알수 있게 함수 있음
try :
    html = urlopen('https://pythondojang.bitbucket.io/weather/observation/currentweather.html')
except HTTPError as he :
    print('http error')
except URLError as ue :
    print('url error')
else :
    soup = BeautifulSoup(html.read(), 'html.parser')

In [50]:
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
from tqdm import tqdm_notebook
from bs4 import BeautifulSoup
import time

In [69]:
# isbn 리스트 생성
na_describe_list = list(child_na_describe['isbn13'].astype(str))

In [74]:
len(na_describe_list)

177

In [75]:
# 자동화 웹 페이지 열기
path = './driver/chromedriver.exe'
driver = webdriver.Chrome(path)
driver

In [76]:
isbn_url = 'http://www.kyobobook.co.kr/product/detailViewKor.laf?ejkGb=KOR&mallGb=KOR&barcode='
rest_url = '&orderClick=LAG&Kc='

In [77]:
intro = []

for i in tqdm_notebook(range(len(na_describe_list))) :
    url = isbn_url + str(na_describe_list[i]) + rest_url
    driver.get(url)
    
    a_list = driver.find_elements_by_css_selector('div.box_detail_article')
    time.sleep(1.5)
    a_list = driver.find_elements_by_css_selector('div.box_detail_article')
    
    if len(a_list) > 0 :
        intro.append(a_list[0].text)
    else :
        intro.append('')
        continue

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=177.0), HTML(value='')))

In [78]:
len(intro)

177

In [81]:
child_na_describe['describe']=intro

In [82]:
child_na_describe.head(5)

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,loan_count_x,bookImageURL_x,keyword,describe
0,474,474,쿠키런 서바이벌 대작전,글: 김강현 ;그림: 김기수,서울문화사,NaN,9788926388426,67400.0,4.0,372.42,912,http://image.aladin.co.kr/product/7057/44/cove...,NaN,안전상식 학습만화 「쿠키런 서바이벌 대작전」 제4권 《산과 하늘 편》. 웨어울프맛 ...
1,476,476,쿠키런 서바이벌 대작전,글: 김강현 ;그림: 김기수,서울문화사,NaN,9788926388280,67400.0,3.0,372.42,909,https://bookthumb-phinf.pstatic.net/cover/094/...,NaN,안전상식 학습만화 「쿠키런 서바이벌 대작전」 3권 《도시 편》. 마법의 재료가 적힌...
2,477,477,어린이 과학 형사대 CSI,글: 고희정 ;그림: 서용남,가나출판사,NaN,9788957364642,74400.0,5.0,400.00,905,https://bookthumb-phinf.pstatic.net/cover/054/...,NaN,"추리로 배우는 교과서 과학\n\n『어린이 과학 형사대 CSI』시리즈 제5권《CSI,..."
3,479,479,(만화로 보는)그리스 로마 신화,토머스 불핀치 지음;서영 그림,가나출판사,2005.0,9788957363041,73840.0,4.0,219.00,903,https://bookthumb-phinf.pstatic.net/cover/015/...,NaN,"어린이용 그리스·로마 신화 베스트셀러. 아름다운 여신과 뛰어난 영웅, 그리고 신비로..."
4,485,485,이사도라 문,해리엇 먼캐스터 지음 ;심연희 옮김,북이십일,NaN,9788950977948,74840.0,4.0,843.00,897,https://image.aladin.co.kr/product/18783/20/co...,NaN,“평범한 생일 파티를 열고 싶어!”\n\n뱀파이어 요정 이사도라의 생일이에요.\n엄...

In [83]:
# 최종 child 데이터 넣기
child_final_df=pd.concat([child_na_describe,child_describe],ignore_index=True)

In [84]:
len(child_final_df)

978

In [85]:
# csv 파일로 변환하기
child_final_df.to_csv('./data/final/content_re/child_final_df.csv',encoding='utf-8-sig',index=False)

In [136]:
# 남은 빈칸 찾아 직접 최대한 채워넣고 데이터 불러오기

child_final_df=pd.read_excel('./data/final/content_re/child_final_df.xlsx')

In [137]:
child_final_df.head(3)

,no,ranking,bookname,authors,publisher,publication_year,isbn13,addition_symbol,vol,class_no,loan_count_x,bookImageURL_x,keyword,describe
0,474,474,쿠키런 서바이벌 대작전,글: 김강현 ;그림: 김기수,서울문화사,NaN,9788926388426,67400.0,4.0,372.42,912,http://image.aladin.co.kr/product/7057/44/cove...,NaN,안전상식 학습만화 「쿠키런 서바이벌 대작전」 제4권 《산과 하늘 편》. 웨어울프맛 ...
1,476,476,쿠키런 서바이벌 대작전,글: 김강현 ;그림: 김기수,서울문화사,NaN,9788926388280,67400.0,3.0,372.42,909,https://bookthumb-phinf.pstatic.net/cover/094/...,NaN,안전상식 학습만화 「쿠키런 서바이벌 대작전」 3권 《도시 편》. 마법의 재료가 적힌...
2,477,477,어린이 과학 형사대 CSI,글: 고희정 ;그림: 서용남,가나출판사,NaN,9788957364642,74400.0,5.0,400.00,905,https://bookthumb-phinf.pstatic.net/cover/054/...,NaN,"추리로 배우는 교과서 과학\n\n『어린이 과학 형사대 CSI』시리즈 제5권《CSI,..."

## TF-IDF를 통한 어린이 책 내용 기반 추천

In [130]:
len(child_final_df)

978

In [141]:
# 책 제목 중복데이터 제거 
child_final_df_1=child_final_df.drop_duplicates(['bookname'], keep='first')

In [142]:
len(child_final_df_1)

511

In [143]:
child_final_df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 511 entries, 0 to 977
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   no                511 non-null    int64
 1   ranking           511 non-null    int64
 2   bookname          511 non-null    object
 3   authors           511 non-null    object
 4   publisher         511 non-null    object
 5   publication_year  443 non-null    float64
 6   isbn13            511 non-null    int64
 7   addition_symbol   465 non-null    float64
 8   vol               332 non-null    float64
 9   class_no          464 non-null    float64
 10  loan_count_x      511 non-null    int64
 11  bookImageURL_x    510 non-null    object
 12  keyword           440 non-null    object
 13  describe          510 non-null    object
dtypes: float64(4), int64(4), object(6)
memory usage: 59.9+ KB

In [144]:
# 책소개가 있는 데이터만 따로 뽑기
child_final_df_revised=child_final_df_1[pd.notnull(child_final_df_1['describe'])]

In [145]:
# 데이터프레임 인덱스 정리 필요
child_final_df_revised.reset_index(drop=True,inplace=True)

In [146]:
# 제목 양쪽 공백제거
for i in range(len(child_final_df_revised)):
    child_final_df_revised['bookname'][i]=child_final_df_revised['bookname'][i].strip()

In [148]:
child_final_df_revised['bookname'][3]

'이사도라 문'

In [93]:
# 블용어 txt파일 리스트 가져오기
sw=pd.read_csv('./data/final/한국어불용어100.txt', sep = "\t",  engine='python', encoding = "utf-8",header=None)

In [94]:
stop_words=list(sw[0].dropna())

In [149]:
tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 2), min_df=0, stop_words=stop_words)
tfidf_matrix = tf.fit_transform(child_final_df_revised['describe'])

In [150]:
tfidf_matrix.shape

(510, 24638)

In [151]:
# linear_kernel는 두 벡터의 dot product 이다.
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [162]:
cosine_sim

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.00104119, ..., 0.00149308, 0.00418494,
        0.00758386],
       [0.        , 0.00104119, 1.        , ..., 0.01031011, 0.        ,
        0.00655631],
       ...,
       [0.        , 0.00149308, 0.01031011, ..., 1.        , 0.        ,
        0.01073386],
       [0.        , 0.00418494, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.00758386, 0.00655631, ..., 0.01073386, 0.        ,
        1.        ]])

In [152]:
titles = child_final_df_revised['bookname']
indices = pd.Series(child_final_df_revised.index, index=child_final_df_revised['bookname'])

print(titles.head(), indices.head())

0         쿠키런 서바이벌 대작전
1       어린이 과학 형사대 CSI
2    (만화로 보는)그리스 로마 신화
3               이사도라 문
4          용선생 만화 한국사:
Name: bookname, dtype: object bookname
쿠키런 서바이벌 대작전         0
어린이 과학 형사대 CSI       1
(만화로 보는)그리스 로마 신화    2
이사도라 문               3
용선생 만화 한국사:          4
dtype: int64

In [153]:
def get_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [154]:
idx = indices['이사도라 문']

In [157]:
get_recommendations('나, 생일 바꿀래!').head(5)

3               이사도라 문
81       (내 멋대로) 친구 뽑기
300            월화수토토토일
101           바삭바삭 갈매기
38     (기괴하고 요상한) 귀신딱지
Name: bookname, dtype: object

In [159]:
get_recommendations('쿠키런 서바이벌 대작전').head(5)

217    쿠키런 서바이벌 대작전 15 : 무인도 편 - 안전상식 학습만화
201              쿠키런 서바이벌 대작전 21 (별똥별 산 편)
245      쿠키런 서바이벌 대작전 5 : 화재 편 - 안전상식 학습만화
209    쿠키런 서바이벌 대작전 16 : 방사능 편 - 안전상식 학습만화
198             쿠키런 서바이벌 대작전 27 : 로봇의 심장 편
Name: bookname, dtype: object

In [ ]:
용돈 지갑에 구멍났나?

In [161]:
get_recommendations('초딩의 품격').head(5)

368                          초등학생을 위한 나의 라임 오렌지나무 (초등용)
445                                퀴즈! 과학상식 : 사물 인터넷 과학
279                                 (빈대가족의) 덜렁이는 빈대 스타일
204                                             프린들 주세요
444    초등학생을 위한 욕심쟁이 딸기 아저씨 - 특별판, 사회성 키우기 (나눔, 기쁨, 행복)
Name: bookname, dtype: object