In [38]:
import pandas as pd
import numpy as np

# 책 긍정 부정 분석

In [1]:
import pandas as pd
import numpy as np

In [12]:
healing = pd.read_csv('./data/final/new_final_review_df.csv',encoding='utf-8')

In [14]:
healing['review'].isnull().sum()

174

In [13]:
len(healing)

2000

In [15]:
2000-174

1826

In [16]:
healing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      2000 non-null   object
 1   author     1999 non-null   object
 2   publisher  1998 non-null   object
 3   isbn       2000 non-null   int64
 4   keyword    2000 non-null   object
 5   image      1996 non-null   object
 6   review     1826 non-null   object
dtypes: int64(1), object(6)
memory usage: 109.5+ KB

In [20]:
# review가 없는 결측치 제거
healing=healing.dropna(subset=['review'])

In [61]:
# index 정리
healing.reset_index(drop = True, inplace = True)

In [62]:
healing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      1826 non-null   object
 1   author     1825 non-null   object
 2   publisher  1825 non-null   object
 3   isbn       1826 non-null   int64
 4   keyword    1826 non-null   object
 5   image      1823 non-null   object
 6   review     1826 non-null   object
dtypes: int64(1), object(6)
memory usage: 100.0+ KB

In [42]:
# healing 저장
healing.to_csv('./data/final/check.csv',encoding='utf-8-sig',index=False)

In [50]:
# 긍정부정 단어 데이터 불러오기
sense=pd.read_csv('./data/final/NL_bo_sense_2019.csv',encoding='utf-8')

In [43]:
len(healing['review'][0].split('.'))

24

In [51]:
from tqdm import tqdm_notebook

In [76]:
positive_score=[]
negative_score=[]

for number in tqdm_notebook(range(len(healing))):
    text=healing['review'][number].split('.')
    
    positive_check=[]
    negative_check=[]

    for a in range(len(text)):
        string=text[a]

        for i in range(len(sense)):
            if sense['term'][i] in string:
                positive_check.append(float(sense['positive_score'][i]))
                negative_check.append(float(sense['negative_score'][i]))
                
    positive_score.append(sum(positive_check))
    negative_score.append(sum(negative_check))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  after removing the cwd from sys.path.

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=1826.0), HTML(value='')))

In [77]:
print(len(positive_score))
print(len(negative_score))

1826
1826

In [78]:
healing['positive_score']=positive_score
healing['negative_score']=negative_score

In [79]:
healing.head(4)

,title,author,publisher,isbn,keyword,image,review,positive_score,negative_score
0,파이어족이 온다,"스콧 리킨스 (지은이), 박은지 (옮긴이)",지식노마드,9791187481638,"['재테크', '경제', '라이프스타일', '행복', '자유', '저축']",https://image.aladin.co.kr/product/20780/79/co...,금융위기 이후 전 세계 젊은이들을 사로잡고 있는라이프스타일 혁명! - 파이어족이 온...,21.81884,16.01194
1,90년생 재테크!,월재연 슈퍼루키 10인 (지은이),진서원,9791186647363,"['재테크', '종잣돈', '투자가이드', '행복', '테크', '부동산 투자']",https://image.aladin.co.kr/product/22332/30/co...,스마트하고 기상천외한 90년생 재테크‘학자금대출이 까마득해요’ ‘저는 아직도 취업준...,6.25402,5.10247
2,죽은 경제학자의 살아있는 아이디어,"토드 부크홀츠 (지은이), 류현 (옮긴이), 한순구 (감수)",김영사,9788934935605,"['경제학', '케인스', '국부론', '마셜', '자유 무역', '애덤 스미스']",https://image.aladin.co.kr/product/456/15/cove...,전 세계 경제학자들이 먼저 읽고 교과서로 채택한 21세기 경제학 고전! 15개국에서...,67.57535,61.58975
3,만들어진 성장,"데이비드 필링 (지은이), 조진서 (옮긴이)",이콘,9791189318161,"['행복', '파산', '경제 성장', '세계 경제', '경제학자', '경제 지표']",https://image.aladin.co.kr/product/22253/63/co...,"세계는 왜 GDP에 의존하고 있는가?지난 70여 년 동안, 세계 경제를 주도한 것은...",58.28454,52.33018

In [93]:
# 데이터 저장
healing.to_csv('./data/final/healing.csv',encoding='utf-8-sig',index=False)

In [82]:
# 긍정>부정
len(healing[healing['positive_score']>healing['negative_score']])

1787

In [84]:
# 긍정=부정
len(healing[healing['positive_score']==healing['negative_score']])

0

In [85]:
# 긍정<부정
len(healing[healing['positive_score']<healing['negative_score']])

39

In [86]:
len(healing)

1826

In [88]:
len(healing['title'].unique())

1804

In [89]:
# 책 제목을 기준으로 중복데이터 제거
healing_remove=healing.drop_duplicates(['title'])

In [90]:
len(healing_remove)

1804

In [92]:
healing_remove.to_csv('./data/final/healing_remove.csv',index=False,encoding='utf-8-sig')